html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Merriweather', serif;
  margin: 0em;
}

header {
  background-color: #d05c2e;
  padding: 0em
  overflow: hidden;
  margin: 0;
}

.left {
  float: left;
  width: 10%;
  margin: 10px 0px 0px 0px;
  padding: 0;
}

.right {
  float: right;
  width: 10%;
  margin: 10px 0px 0px 0px;
  padding: 0;
}



h1 {
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin:0;
  padding: 0.5em 1em 0.75em 0.5em;
}

nav {
  text-align: center;
  overflow: hidden;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  border: 1px solid #963e30;
  float: left;
  width:33.33%;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  background-color: #d05c2e;
  padding: 0.5rem;
  display: block;
}

nav a:hover {
  background-color: #a93f35;
}



figure {
  margin: 0;
}

.grains {
  float: left;
  width:33.3%;
  margin: 0.5em;
  border: 1px solid #cccccc;
}

.cereals {
  float: right;
  width: 33.3%;
  margin: 0.5em;
  border: 1px solid #cccccc;
}

.quinoa {
  float: right;
  width: 33.3%;
  margin: 0.5em;
  border: 1px solid #cccccc;
}

.clear-it {
  clear: right;
}

p {
  padding: 0;
  margin: 0;
}

.p1 {
  clear: right;
  margin: 0;
  padding: 1em 1em 0.5em 1em;
}

.p2 {
  clear: left;
  margin: 0;
  padding: 1em;
}



h2 {
font-weight: bold;
color: #fff;
text-align: center;
margin: 0;
background-color: #dc8252;
padding: 1em;
}

figure {
  background-color: #dc8252;
}

.famous-cereals {
  clear: both;
  overflow: hidden;
  padding: 1em:
}

.fig-corn {
  width: 100%;
}

.corn {
  width: 100%;
}

.figcaption-corn {
  color: white;
  text-align: center;
  background-color: #dc8252;
  padding: 0em 1em 1em 1em;
  width: 100%;
  text-align: center;
}

.rice{
  width: 50%;
  float: left;
}

.figcaption-rice {
  color: white;
  float: left;
  background-color: #dc8252;
  padding: 0.5em 2em 1.5em 2em;
  width: 50%;
  text-align: center;
}

.oats {
  width: 50%;
  float: right;
}

.figcaption-oats {
  color: white;
  float: right;
  background-color: #dc8252;
  padding: 0.5em 2em 1.5em 2em;
  width: 50%;
  text-align: center;
}



h3 {
  text-align: center
}

.peanuts {
  width: 28%;
  clear: both;
  float: left;
  margin: 1em;
}

.beans {
  width: 28%;
  clear: both;
  float: left;
  margin: 1em;

}

.lentils {
  width: 28%;
  clear: both;
  float: left;
  margin: 1em;

}

em {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 0.5em;
  margin: 0;
  flost: right;
  clear: both;
}

.img-peanuts, .img-beans, .img-lentils {
  float: left;
}

footer {
  background-color: #d05c2e;
  padding: 1em 0em 1em 0em;
  margin-top: 1em;
  text-align: center;
  color: #fff;
  clear: both;
}
