html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Merriweather', serif;
  margin: 0em;
}

header {
  background-color: #d05c2e;
  padding: 0em 0em 2em;
}

.left {
  float: left;
  width: 10%;
  margin: 10px 0px 0px 0px;
  padding: 0;
}

.right {
  float: right;
  width: 10%;
  margin: 10px 0px 0px 0px;
  padding: 0;
}

h1 {
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin:0;
  padding: 0.5em 1em 0.75em 0.5em;
}

nav {
  text-align: center;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  border: 1px solid #963e30;
  float: left;
  width:33.33%;
  margin: 0;
}

nav a {
  padding: 0;
  text-decoration: none;
  color: #fff;
  background-color: #d05c2e;
  padding: 0.5rem;
  display: block;
}

nav a:hover {
  background-color: #a93f35;
}

figure {
  margin: 0;
}
.grains {
  float: left;
  width:33.3%;
  margin: 0.5em;
  border: 1px solid #cccccc;
}

.cereals {
  float: right;
  width: 33.3%;
  margin: 0.5em;
  border: 1px solid #cccccc;
}

.quinoa {
  float: right;
  width: 33.3%;
  margin: 0.5em;
  border: 1px solid #cccccc;
}

.clear-it {
  clear: right;
}

p {
  padding: 1em;
  margin: 0;
}

.p2 {
  clear: left;
  margin: 0;
  padding: 1em;
}

div {
  background-color: #dc8252;
  border: 1px solid #a93f35;
}

h2 {
font-weight: bold;
color: #fff;
text-align: center;
margin: 0;
}

.famous-cereals {
  clear: center;
  padding: 1em;
}

.corn {
  width: 100%;
}

.figcaption-corn {
  color: white;
  text-align: center;
}

.rice{
  width: 50%;
}

.figcaption-rice {
  color: white;
}

.oats {
  width: 50%;
  clear: right;
}

.figcaption-oats {
  color: white;
}

.f {
  color: black;
  margin: 1em;
}

.peanuts {
  width: 25%;
}

.beans {
  width: 25%;
}

.lentils {
  width: 25%;
}

dd {
  margin: 0;
  display: right;
  float: right;
  clear: left;
}

footer {
  background-color: #d05c2e;
  padding: 1em 0em 1em 0em;
  margin: 0.5em 0em 0.5em 0em;
  text-align: center;
  color: #fff;
}
